body {
    width: 1920px;
    height: 1243px;
}
h1 {
    color: #8E26C0;
    font-size: 64px;
    width: 614px;
    height: 84px;
    padding: 10px;
    margin: 0 auto;
}

#chance {
    background: #FFE8E8;
    color: #ff0000;
    font-size: 32px;
    width: 565px;
    padding: 24px 40px;
    gap: 10px;
    margin: 20px;
    }

#advantage {
    color: #85647B;
    font-size: 40px;
    width: 1023px;
    padding: 24px 40px;
    gap: 10px;
    border-left: 4px solid #C11574;
    border-right: 6px solid #0055FF;
    border-bottom: 4px solid #0055ff;
    border-top: 4px solid #00c76e;
    margin: 20px;
}

#discounts {
    color: #414651;
    background-color: #ffe8e8;
    font-size: 32px;
    width: 1023px;
    gap: 10px;
    padding: 24px 40px;
    margin: 20px;
    }

#first {
    color: #ff4405;
    font-size: 40px;
}
#second {
    padding: 400px;
}

#opportunity {
    color: #0064ce;
    font-size: 32px;
    width: 1069px;
    padding: 24px 40px;
    gap: 10px;
    border: 2px solid #3538cd;
    margin: 20px;
}

img {
    margin: 20px;
    width: 556px;
    height: 347px;
}